.container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(5, 100px);
}

#title {
  grid-column: 1 / -1;
}

.friend {

}

.siblings {
  grid-column: span 2;
}

.uncles {
  grid-row: span 2;
}

.grandparents {
  grid-column: span 2;
  grid-row: span 2;
}
